<header>
    <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn" style="width: 200px; height: 200px; object-fit: cover;"></img>
    <div class="row">
        <div class="col-9">
    <h1>Bienvenido <%= nombre %></h1>
</div>
<div class="col-3">
    <form class="row g-3" method="post" action="/logout">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Desloguear</button>
        </div>
      </form>
      </div>
    </div>
</header>